services:
  db:
    build:
      context: ./db
      dockerfile: Dockerfile
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
    restart: unless-stopped

  adminer:
    image: adminer:latest
    depends_on:
      - db
    environment:
      ADMINER_DEFAULT_SERVER: db
    ports:
      - "8080:8080"
    restart: unless-stopped

volumes:
  sql_data:
